.grid-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6;

  &__item {
    height: 288px;
    &:nth-of-type(odd) {
      width: 544px;
    }
    &:nth-of-type(even) {
      img {
        max-width: 272px;
        width: 100%;
      }
    }
  }
}
