.menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  width: 75%;
  height: 100vh;

  &.open {
    -webkit-animation: open-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: open-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 250ms;
    display: block !important;

    @-webkit-keyframes open-menu {
      10% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
    @keyframes open-menu {
      0% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}
