// colors
$base-color: #14a066;
$secondary-color: #002b3d;
$complementary-color: #f5f5f5;
$blue-color: #00567a;
$yellow-color: #f9b939;
$white-color: #ffffff;

// fonts
$font-family: 'Plus Jakarta Sans', sans-serif;
